<div class="modal-header">
    <h3 class="modal-title">{{ file.name }}</h3>
</div>
<div class="modal-body">
    <div class="fileinfo">
        <div class="row">
            <div class="col-md-5 fileinfo-preview">
                <figure ng-if="file.thumb_exists" class="text-center">
                    <img file-thumbnail="file" size="l">
                </figure>
                <div ng-if="previewUrl">
                    <a href="{{ previewUrl }}" target="_blank">Open preview...</a>
                </div>
                {{ previewAvailable }}
            </div>
            <div class="col-md-7">
                {{ file.name }}<br>
                {{ file.size }}<br>
                Modified: {{ file.modified }}<br>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="close()">Close</button>
</div>