<h1>Users</h1>
<hr>

<div class="row users-gallery">
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6" ng-repeat="user in users">
        <div class="user">
            <figure>
                <a ui-sref="users.detail({ userId: user.id })">
                    <img src="/static/img/ui-zac.jpg">
                </a>
            </figure>
            <p>
                {{ user.full_name }}<br>
                <span class="role" ng-repeat="userRole in user.user_roles">{{ userRole.role.name }}</span>
            </p>
        </div>
    </div>
</div>
