<div class="modal-header">
    <h3 class="modal-title">Dropbox authorization</h3>
</div>
<div class="modal-body">
    <ol>
        <li>Go to <a target="_blank" href="{{ authUrl }}">{{ authUrl }}</a></li>
        <li>Click "Allow" (you might have to log in first)</li>
        <li>Copy the authorization code into the box below</li>
    </ol>
    <form name="form">
    	<div class="form-group" ng-class="{'has-error': form.code.$invalid && form.code.$dirty}">
            <label class="control-label" for="dropbox-auth-dialog-code">Authorization code</label>
	    	<input id="dropbox-auth-dialog-code" type="text" name="code" placeholder="Code" class="form-control"
	    		ng-model="form.authCode" ng-change="codeChanged(form)" required>
	    	<p class="alert alert-danger" ng-if="form.$error.invalidCode">Invalid authorization code</p>
		</div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(form)" ng-disabled="form.$invalid">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>