<div class="modal-header">
    <h3 ng-if="completing" class="modal-title">Complete task</h3>
    <h3 ng-if="!completing" class="modal-title">Un-complete task</h3>
</div>
<div class="modal-body">
    <p>Mark task <strong>{{ task.name }}</strong> as {{ completing ? 'completed' : 'not completed' }}?</p>
    <p ng-if="completing" class="alert alert-warning"><strong>Warning</strong>: Completing this task will mark all subtasks as complete.</p>
    <p ng-if="!completing" class="alert alert-warning"><strong>Warning</strong>: Un-completing this task will mark all subtasks as not complete.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ completing ? 'Complete' : 'Un-complete' }}</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
