<h1>Tasks</h1>
<hr>

<div class="row mt">
    <div class="col-md-12">
        <section class="task-panel tasks-widget">
            <div class="panel-heading">
                <div class="pull-left">
                    <h5><span class="fa fa-tasks"></span> Tasks</h5>
                </div>
                <br>
            </div>
            <div class="panel-body">
                <div class="task-content">
                    <ul class="task-list">
                        <li ng-repeat="task in tasks" ng-class="{ 'task-done': task.state == 'completed' }" ng-init="completed = task.state == 'completed'">
                            <div class="task-checkbox">
                                <input type="checkbox" class="list-child" ng-model="completed" ng-change="onCompletedChange(task, completed)" ng-if="task.state != 'completed'">
                            </div>
                            <div class="task-title">
                                <span class="task-title-sp">
                                    <a ui-sref="tasks.detail({ taskId: task.id })">{{ task.name }}</a>
                                </span>
                                <em ng-if="task.assigned_taskforces">
                                    Assigned to
                                    <span ng-repeat="taskforce in task.assigned_taskforces">{{ taskforce.name }}<span ng-if="!$last">, </span></span>
                                </em>
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-xs" ng-click="openEditTaskDialog(task)"><span class="fa fa-pencil"></span></button>
                                    <button class="btn btn-danger btn-xs" ng-click="openDeleteTaskDialog(task)"><span class="fa fa-trash-o "></span></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="add-task-row">
                    <button class="btn btn-success btn-sm pull-left" ng-click="openEditTaskDialog(null)">New task</button>
                </div>
            </div>
        </section>
    </div>
</div>