<h1>{{ team.color }} team</h1>
<hr>

<h2>Task forces</h2>
<div class="content-panel">
    <script type="text/ng-template" id="taskforce-accordion.html">
        <accordion-group is-open="isOpen">
            <accordion-heading>
                <span ng-click="getTaskForceChildren(taskForce)">
                    <span class="glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></span>
                    {{ taskForce.name }}
                </span>
                <div class="pull-right">
                    <button class="btn btn-primary btn-xs" ng-click="openEditTaskForceDialog(taskForce); $event.stopPropagation()">
                        <span class="fa fa-pencil"></span>
                    </button>
                    <button class="btn btn-danger btn-xs" ng-click="openDeleteTaskForceDialog(taskForce); $event.stopPropagation()">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </accordion-heading>
            <p>Milestone: {{ taskForce.milestone.name }} {{ taskForce.milestone.end_date }}</p>
            <h3>Sub task forces</h3>
            <button class="btn btn-default" ng-click="openEditTaskForceDialog(null, taskForce)">New task force</button>
            <accordion>
                <div ng-repeat="taskForce in taskForce.children">
                    <ng-include src="'taskforce-accordion.html'"></ng-include>
                </div>
            </accordion>
        </accordion-group>
    </script>

    <accordion>
        <button class="btn btn-default" ng-click="openEditTaskForceDialog(null, null)">New task force</button>
        <p ng-if="taskForces.length == 0">This team doesn't have any task forces.</p>
        <div ng-repeat="taskForce in taskForces">
            <ng-include src="'taskforce-accordion.html'"></ng-include>
        </div>
    </accordion>
</div>