<h1>{{ event.title }}</h1>
<div class="content-panel item-summary">
    <table class="table"><tbody>
        <tr>
            <th>Owner</th>
            <td>
                <a ui-sref="users.detail({ userId: event.owner.id })">{{ event.owner.full_name }}</a>
            </td>
        </tr>
        <tr>
            <th>Starts</th>
            <td>{{ event.start|date:'medium' }}</td>
        </tr>
        <tr>
            <th>Ends</td>
            <td>{{ event.end|date:'medium' }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ event.location }}</td>
        </tr>
    </tbody></table>
</div>

<h2>Description</h2>
<pre>{{ event.description }}</pre>

<h2>Attendees</h2>
<div class="content-panel">
<p ng-if="event.attendees.length == 0">No-one is attending this event.</p>
<ul>
    <li ng-repeat="user in event.attendees">
        <a ui-sref="users.detail({ userId: user.id })">{{ user.full_name }}</a>
    </li>
</ul>
</div>