<h1>Events</h1>
<hr>

<div class="row">
	<div class="col-lg-8">
        <div class="content-panel" ng-controller="CalendarCtrl">
            <div class="panel-body">
                <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="calendar"></div> 
                <div class="mt">
                    <button class="btn btn-sm btn-success" ng-click="openEditDialog()">New event</button>
                </div>
            </div>
        </div>
   </div>
</div>