/*---------- Color definitions ----------*/

$teamColors: (
    "red": #d32f2f,
    "green": #388e3c,
    "blue": #1976d2,
    "yellow": #f9ce1d,
    "pink": #e91e63,
    "orange": #ff5722,
    "purple": #9c27b0,
    "silver": #757575,
    "black": #212121
);

$teamAccentColors: (
    red: #ff1744,
    green: #4caf50,
    blue: #03a9f4,
    yellow: #ffeb3b,
    pink: #ff4081,
    orange: #ff9800,
    purple: #d500f9,
    silver: #9e9e9e,
    black: #434343
);

/*---------- Generic team styles ----------*/

@for $i from 1 to length($teamColors)+1 {
    $name: nth(map-keys($teamColors), $i);
    $col: nth(map-values($teamColors), $i);
    $accentCol: nth(map-values($teamAccentColors), $i);

    .team-#{$name} {
        .bg-team {
            background-color: $col;
            color: white;
        }
    }
}

/* Yellow team styling has black text */
.team-yellow {
    .bg-team {
        color: black;
    }
}

/* Red team badges are white. The rest are red. */
.badge-team {
    background-color: #f00000;
}
.team-red .badge-team {
    background-color: white;
    color: black;
}

/*---------- Header styling ----------*/

@for $i from 1 to length($teamColors)+1 {
    $name: nth(map-keys($teamColors), $i);
    $col: nth(map-values($teamColors), $i);
    $accentCol: nth(map-values($teamAccentColors), $i);

    .team-#{$name} .header {
        background-color: $col;
        border-bottom: 1px solid darken($col, 5%);

        ul.top-menu > li a {
            background-color: $accentCol;
            border: 1px solid darken($accentCol, 5%);
            &:hover {
                background-color: lighten($accentCol, 5%);
                border-color: $accentCol;
                color: white;
            }
        }
    }
}

.header {
    color: white;

    a.dropdown-toggle {
        color: #eee;
        &:hover {
            color: #ccc;
        }
    }

    a.home-button {
        color: #ccc;

        &.selected {
            color: #eee;
        }
    }
    
    a.logo {
        margin-top: 0;
        line-height: 60px;
    }
}

/* Yellow team styling has black text */
.team-yellow .header {
    color: #212121;

    a.dropdown-toggle,
    ul.top-menu > li a,
    .nav-filter .home-button {
        color: #212121;
        &:hover {
            color: #434343;
        }
    }
    
    a.logo {
        color: #212121;
    }
}

.nav-filter {
    float: left;
    line-height: 60px;
    font-size: 18px;
    margin-left: 20px;
}

/*---------- Misc ----------*/

.text-muted {
    color: #ccc;
}

hr {
    border-top-color: #ccc;
}

#main-content.nomargin {
    margin-left: 0;
}

.content-panel.item-summary {
    padding: 0;
    
    table {
        th {
            text-align: right;
            white-space: nowrap;
        }
        td {
            width: 100%;
        }
    }
}

.accordion-toggle {
    cursor: pointer;
}

.lg-dialog {
    > .modal-dialog {
        width: 65%;
    }
}

.error-dialog {
    .modal-header {
        background-color: red;
    }
    
    iframe {
        width: 100%;
        height: 350px;
    }
}

.nav-tabs > li > a {
    cursor: pointer;
}

.app-checkbox {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    font-size: 120%;
    color: #333;
    vertical-align: middle;
    
    &.disabled {
        color: #bbb;
        cursor: default;
    }
    
    .app-checkbox-glyph-unchecked {
        position: absolute;
        top: 0;
        left: 0;
    }

    .app-checkbox-glyph-checked {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
    }
    
    &:not(.disabled):hover {
        color: #333;
        .app-checkbox-glyph-unchecked {
            visibility: hidden;
        }
        .app-checkbox-glyph-checked {
            visibility: visible;
        }

        &.checked {
            .app-checkbox-glyph-unchecked {
                visibility: visible;
            }
            .app-checkbox-glyph-checked {
                visibility: hidden;
            }
        }
    }

    &.checked {
        .app-checkbox-glyph-unchecked {
            visibility: hidden;
        }
        .app-checkbox-glyph-checked {
            visibility: visible;
        }
    }
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}

.progress-bar-invisible {
    background: transparent;
    color: inherit;
    
    box-shadow: none;
    -webkit-box-shadow: none;
}

.panel-body.no-lr-padding {
    padding-left: 0;
    padding-right: 0;
}

.spinner {
    padding: 26px 0;
    text-align: center;
    font-size: 48px;
    color: #aaa;
}

.spinner-overlay {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    overflow: hidden;

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0;
        margin-left: -24px;
        margin-top: -34px;
    }
}

/*---------- Files ----------*/

.filebrowser {
    position: relative;
    min-height: 120px;

    .filebrowser-header {
        line-height: 30px;
        
        .dropbox-logo {
            vertical-align: middle;
            font-size: 120%;
            color: #1081de;
        }
        
        .filebrowser-search {
            position: relative;
            float: right;
            width: 200px;
            
            > span {
                position: absolute;
                left: 8px;
                font-size: 75%;
            }
            
            input {
                padding-left: 2em;
            }
        }
        
        .filebrowser-header-buttons {
            padding-right: 4px;
            font-size: 120%;
            
            a {
                margin-right: 4px;
                vertical-align: middle;
            }
        }
    }
    
    .filebrowser-files {
        margin: 26px 26px 0 26px;
        
        table {
            width: 100%;

            > thead > tr > th {
                line-height: 29px;
                color: #aaa;
            }
            
            > tbody > tr {
                border-top: 1px solid #e5e5e5;
                white-space: nowrap;
                
                &:first-child > td {
                    width: 100%;
                }

                > td {
                    padding: 6px 0;
                    line-height: 32px;
                }
            }
            
            .filebrowser-file {
                &.selected {
                    background-color: #e3f2ff;
                    &:hover {
                        background-color: #e3f2ff;
                    }
                }
                
                &.pending {
                    /*background-color: #ddd;*/
                    td {
                        font-style: italic;
                        color: #aaa;
                        a {
                            color: #aaa;
                        }
                    }
                }

                &:hover {
                    background-color: #f5fafe;
                }

                a {
                    color: #3d464d;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .filebrowser-file-icon {
                    margin-right: 11px;
                }
            }
        }
    }
}

.fileinfo {
    .fileinfo-preview {
        > figure > img {
            max-width: 100%;
        }
    }
}

/*---------- Users ----------*/

.user-photo {
    text-align: center;

    img {
        border: 1px solid #ccc;
    }
    
    &.user-photo-med img {
        width: 104px + 2px;
        height: 138px + 2px;
    }
    
    &.user-photo-small img {
        width: 52px + 2px;
        height: 69px + 2px;
    }
}

.users-gallery {
    .user {
        margin-bottom: 20px;
        min-height: 196px;

        > figure {
            margin: 0 auto;
        }
    }
}

/*---------- Comments ----------*/

.comment {
    margin-bottom: 24px;
    
    figure {
        float: left;
        margin-right: 12px;
    }
    
    .body {
        overflow: hidden;
        white-space: pre-wrap;
    }
}

/*---------- Calendar ----------*/

.calendar-container {
    position: relative;
}

.fc-event {
    cursor: pointer;

    &.fc-day-grid-event > .fc-content {
        white-space: normal;
    }

    &.fc-time-grid-event .fc-bg {
        display: none;
    }

    &.event-global {
        background-color: #aaa;
        border-color: #aaa;
        color: white;
    }

    &.event-no-attendees {
        background-color: white;
        border-color: black;
        color: black;

        &:hover {
            color: black;
        }
    }

    &.event-owner {
        font-style: oblique;
    }
}

@for $i from 1 to length($teamColors)+1 {
    $name: nth(map-keys($teamColors), $i);
    $col: nth(map-values($teamColors), $i);
    $accentCol: nth(map-values($teamAccentColors), $i);

    $colLight: lighten($accentCol, 25%);

    .team-#{$name} .fc-event.event-taskforces-attending {
        background-color: $col;
        border-color: $col;
        color: $colLight;
    }

    .team-#{$name} .fc-event.event-users-attending {
        background-color: $colLight;
        border-color: $colLight;
        color: $col;
    }
}

/* Yellow team styling has black text */
.team-yellow .fc-event.event-taskforces-attending,
.team-yellow .fc-event.event-users-attending {
    color: #212121;
}

/*---------- Tasks ----------*/

.task-list {
    .task {
        border-bottom: 1px dashed #eaeaea;
        
        .task-header {
            padding: 4px 15px;

            .task-header-left {
                width: 60%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                a {
                    color: inherit;
                }

                .task-header-checkbox {
                    display: inline-block;
                    width: 16px;
                }
            }
            .task-header-right {
                text-align: right;
                width: 40%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            
            &:hover {
                background-color: #f7f7f7;
                ~ .task-body {
                    background-color: #f7f7f7;
                }
            }

            &.task-due-overdue {
                background: #fc5050;
                color: white;
                font-weight: bold;
            }

            &.task-due-today {
                .app-checkbox > span {
                    color: red;
                }
            }

            &.task-due-week {
                .app-checkbox > span {
                    color: #c0c000;
                }
            }

            &.task-due-month {
                .app-checkbox > span {
                    color: green;
                }
            }
        }
        
        .task-body {
            border-left: 1px solid #eaeaea;
            margin: 4px 0 4px 16px;
            padding: 6px 4px;
        }
    }
    
    .more-tasks {
        padding: 3px 16px;
    }
}

/*---------- Custom filter ----------*/

ul.customfilter-tree {
    ul {
        padding-left: 14px;

        > li {
            padding-left: 14px;
            border-left: 1px solid #ddd;
        }
    }

    li.no-children {
        padding-left: 16px;
    }

    li.spacer {
        margin: 2px 16px;
        border-bottom: 1px solid #ddd;
    }
}
