{% extends 'webapp/page.html' %}

{% load staticfiles %}

{% block htmlAttr %} ng-app="app"{% endblock %}
{% block bodyAttr %} ng-controller="AppCtrl"{% endblock %}

{% block pageContent %}
<section id="container">
    <!-- Top bar -->
    {% verbatim %}<header class="header black-bg" ng-class="'team-'+activeTeam.color|lowercase" ng-controller="NavFilterCtrl">{% endverbatim %}
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars" tooltip="Toggle navigation" tooltip-placement="right" ng-click="toggleSidebar()"></div>
        </div>
        <!-- Logo -->
        <a ui-sref="dashboard" class="logo"><b>my2009</b></a>
        
        <!-- Nav Filter -->
        {% verbatim %}
        <div class="nav-filter">
            <span class="dropdown">
                <a href class="dropdown-toggle">{{ activeTeam.color }}</a>
                <ul class="dropdown-menu" ng-visible="teamSelectOpen">
                    <li ng-repeat="team in teams">
                        <a href ng-click="selectTeam($event, team)">{{ team.color }}</a>
                    </li>
                </ul>
            </span>
            &raquo;
            <span class="dropdown">
                <a href class="dropdown-toggle">{{ activeUser.full_name }}</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="user in users">
                        <a href ng-click="selectUser($event, user)">{{ user.full_name }}</a>
                    </li>
                </ul>
            </span>
        </div>
        {% endverbatim %}

        <!-- Logout -->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" ui-sref="settings">
                	<span class="fa fa-cog"></span> Settings
                </a></li>
                <li><a class="logout" href="{% url 'webapp:logout' %}">Logout</a></li>
            </ul>
        </div>
    </header>
    
    <!-- Sidebar -->
    <aside>
        <div id="sidebar" class="nav-collapse" ng-show="showSidebar">
            <ul class="sidebar-menu" id="nav-accordion">
                <p class="centered">
                    <a ui-sref="users.detail({userId:currentUser.id})">
                        <img src="{% static 'img/ui-sam.jpg' %}" class="img-circle" width="60">
                    </a>
                </p>

                <h5 class="centered">{% verbatim %}{{ currentUser.full_name }}{% endverbatim %}</h5>
                  
                <li class="mt">
                    <a ui-sref="dashboard">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="tasks">
                        <i class="fa fa-tasks"></i>
                        <span>Tasks</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="team">
                        <i class="fa fa-users"></i>
                        <span>Team</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="events">
                        <i class="fa fa-calendar"></i>
                        <span>Events</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="files">
                        <i class="fa fa-folder"></i>
                        <span>Files</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    
    <!-- Main -->
    <section id="main-content" ng-class="{ nomargin: !showSidebar }">
        <section ui-view class="wrapper">
        </section>
    </section>

    <!-- Footer -->
    <footer class="site-footer">
        <div class="text-center">
            Copyright goes here
            <a href="index.html#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
</section>
{% endblock %}
