<div class="row">
    <div class="col-lg-9">
        <h1>Dashboard</h1>

        <h2>Tasks</h2>
        <ul>
            <li ng-repeat="task in userTasks">
                <a ui-sref="tasks.detail({taskId:task.id})">{{ task.name }}</a>
            </li>
        </ul>
    </div>

    <div class="col-lg-3 ds">
        <!--
        <h3>Notifications</h3>
                          
        <div class="desc">
          <div class="thumb">
              <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="details">
              <p><small>2 Minutes Ago</small><br/>
                 <a href="#">James Brown</a> subscribed to your newsletter.<br/>
              </p>
          </div>
        </div>
        <div class="desc">
          <div class="thumb">
              <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="details">
              <p><small>3 Hours Ago</small><br/>
                 <a href="#">Diana Kennedy</a> purchased a year subscription.<br/>
              </p>
          </div>
        </div>
        <div class="desc">
          <div class="thumb">
              <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="details">
              <p><small>7 Hours Ago</small><br/>
                 <a href="#">Brandon Page</a> purchased a year subscription.<br/>
              </p>
          </div>
        </div>
        <div class="desc">
          <div class="thumb">
            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="details">
            <p><small>11 Hours Ago</small><br/>
                <a href="#">Mark Twain</a> commented your post.<br/>
            </p>
          </div>
        </div>
        <div class="desc">
          <div class="thumb">
              <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="details">
              <p><small>18 Hours Ago</small><br/>
                 <a href="#">Daniel Pratt</a> purchased a wallet in your store.<br/>
              </p>
          </div>
        </div>
        -->

        <div ng-controller="TeamMembersListCtrl">
            <h3>Team Members</h3>
            <div class="desc" ng-repeat="user in users | filter:userFilter | orderBy:['-is_online', 'last_name']">
                <div class="thumb">
                    <img class="img-circle" height="40" user-picture="user" size="small">
                </div>
                <div class="details">
                    <p>
                        <a ui-sref="users.detail({ userId: user.id })">{{ user.full_name }}</a><br/>
                        <span class="text-success" ng-if="user.is_online">
                            <span class="fa fa-circle"></span>
                            Online
                        </span>
                        <span class="text-muted" ng-if="!user.is_online">
                            <span class="fa fa-circle-o"></span>
                            Offline
                        </span>
                    </p>
                </div>
            </div>
            <a href ng-click="more()" ng-if="!showAll">More...</a>
            <a href ng-click="less()" ng-if="showAll">Less...</a>
        </div>
    </div>
</div>
