<div class="row">
    <div class="col-lg-9">
        <h1>Dashboard</h1>

        <h2>Tasks</h2>
        <ul>
            <li ng-repeat="task in userTasks">
                <a ui-sref="tasks.detail({taskId:task.id})">{{ task.name }}</a>
            </li>
        </ul>
    </div>

    <div class="col-lg-3 ds">
        <h3>Notifications</h3>
                          
        <!-- First Action -->
        <div class="desc">
          <div class="thumb">
              <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="details">
              <p><small>2 Minutes Ago</small><br/>
                 <a href="#">James Brown</a> subscribed to your newsletter.<br/>
              </p>
          </div>
        </div>
        <!-- Second Action -->
        <div class="desc">
          <div class="thumb">
              <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="details">
              <p><small>3 Hours Ago</small><br/>
                 <a href="#">Diana Kennedy</a> purchased a year subscription.<br/>
              </p>
          </div>
        </div>
        <!-- Third Action -->
        <div class="desc">
          <div class="thumb">
              <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="details">
              <p><small>7 Hours Ago</small><br/>
                 <a href="#">Brandon Page</a> purchased a year subscription.<br/>
              </p>
          </div>
        </div>
        <!-- Fourth Action -->
        <div class="desc">
          <div class="thumb">
            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="details">
            <p><small>11 Hours Ago</small><br/>
                <a href="#">Mark Twain</a> commented your post.<br/>
            </p>
          </div>
        </div>
        <!-- Fifth Action -->
        <div class="desc">
          <div class="thumb">
              <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
          </div>
          <div class="details">
              <p><small>18 Hours Ago</small><br/>
                 <a href="#">Daniel Pratt</a> purchased a wallet in your store.<br/>
              </p>
          </div>
        </div>

        <h3>Team Members</h3>
        <!-- First Member -->
        <div class="desc">
          <div class="thumb">
              <img class="img-circle" src="/static/img/ui-divya.jpg" width="35px" height="35px" align="">
          </div>
          <div class="details">
              <p><a href="#">DIVYA MANIAN</a><br/>
                 <small>Available</small>
              </p>
          </div>
        </div>
        <!-- Second Member -->
        <div class="desc">
          <div class="thumb">
              <img class="img-circle" src="/static/img/ui-sherman.jpg" width="35px" height="35px" align="">
          </div>
          <div class="details">
              <p><a href="#">DJ SHERMAN</a><br/>
                 <small>I am Busy</small>
              </p>
          </div>
        </div>
        <!-- Third Member -->
        <div class="desc">
          <div class="thumb">
              <img class="img-circle" src="/static/img/ui-danro.jpg" width="35px" height="35px" align="">
          </div>
          <div class="details">
              <p><a href="#">DAN ROGERS</a><br/>
                 <small>Available</small>
              </p>
          </div>
        </div>
        <!-- Fourth Member -->
        <div class="desc">
          <div class="thumb">
              <img class="img-circle" src="/static/img/ui-zac.jpg" width="35px" height="35px" align="">
          </div>
          <div class="details">
              <p><a href="#">Zac Sniders</a><br/>
                 <small>Available</small>
              </p>
          </div>
        </div>
        <!-- Fifth Member -->
        <div class="desc">
          <div class="thumb">
              <img class="img-circle" src="/static/img/ui-sam.jpg" width="35px" height="35px" align="">
          </div>
          <div class="details">
              <p><a href="#">Marcel Newman</a><br/>
                 <small>Available</small>
              </p>
          </div>
        </div>
                
    </div>
</div>
